body {
  background-image: url('/Xseller8LogoBNG.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #ffd700; /* Gold-like color */
  font-family: 'Arial', sans-serif;
}

h2 {
  color: #ffd700;
}

button {
  background-color: #ffd700;
  color: #000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #ffa500; /* Darker gold on hover */
}

p {
  color: #ffd700;
}

.spreadsheet-container, .raw-data-container, .info-panel-container, .chatbot-container {
  background-color: #333;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}
